<a href="https://colab.research.google.com/github/yun-jaehwan/Scene-Classification-Dataset/blob/master/BITAmin2%EC%A3%BC%EC%B0%A8_%EB%B3%B5%EC%8A%B5%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [443]:
import pandas as pd
import numpy as np
import seaborn as sns # 시각화를 위한 라이브러리
import matplotlib.pyplot as plt
import calendar
from datetime import datetime

#Part 1. 파이썬 기본
사용 데이터셋 :  https://www.kaggle.com/c/bike-sharing-demand/data

In [444]:
#colab에 실습(train.csv) 파일 업로드
from google.colab import files
import io
train_data=files.upload()
train=pd.read_csv(io.BytesIO(train_data["train.csv"]))

Saving train.csv to train (1).csv

In [445]:
train.head(5)

          datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 0:00       1        0  ...       3          13     16
1  2011-01-01 1:00       1        0  ...       8          32     40
2  2011-01-01 2:00       1        0  ...       5          27     32
3  2011-01-01 3:00       1        0  ...       3          10     13
4  2011-01-01 4:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [446]:
train.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

### [1-1] 
datetime 열을 년-월-일, 시간 이렇게 분리해서 새로운 tempDate 라는 이름의 열을 만들어주세요.
* ex) 2011-01-01 00:00:00  ->  2011-01-01 , 00:00:00

In [456]:
#datetime 열을, 년-월-일, 시간 분리
for i in range(len(train['datetime'])):
  train['tempDate']
  train['tempDate'][i] = train['datetime'][i].replace(' ', ',')

train['tempDate']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0         2011-01-01,0:00
1         2011-01-01,1:00
2         2011-01-01,2:00
3         2011-01-01,3:00
4         2011-01-01,4:00
               ...
10881    2012-12-19,19:00
10882    2012-12-19,20:00
10883    2012-12-19,21:00
10884    2012-12-19,22:00
10885    2012-12-19,23:00
Name: tempDate, Length: 10886, dtype: object

### [1-2] 
1-1에서 분리한 tempDate열을 가지고, train 데이터에 year, month, day, weekday 열을 추가해주세요.

In [457]:
#분리한 tempDate를 가지고 year, month, day, weekday column 추가
train['tempDate'] = train[['tempDate']].astype('str')
a=train.tempDate.str.split(',').str[0]
b=train.tempDate.str.split(',').str[1]

df = pd.to_datetime(a, format='%Y-%m-%d')
for i in range(len(df)):
  q = df[i].dayofweek  

train['year']= a.str.split('-').str[0]
train['month']= a.str.split('-').str[1]
train['day']= a.str.split('-').str[2]
train['weekday']= q
train['hour']= b.str.split(':').str[0]

### [1-3] 
1-2에서 만든 year, month, day, hour의 문자형 데이터를 숫자형 데이터로 변환해주세요.

In [458]:
#분리한 형태의 문자형 데이터를 숫자형 데이터로 변환
train['year']= pd.to_numeric(train['year'])
train['month']= pd.to_numeric(train['month'])
train['day']= pd.to_numeric(train['day'])
train['hour']= pd.to_numeric(train['hour'])

### [1-4] 
이제, 필요없는 tempDate 열을 삭제해 주시고, train.csv을 위에서부터 5행 출력해주세요.

In [459]:
#필요없는 tempDate열 삭제 후, train을 위에서부터 5행 출력
train.drop(['tempDate'],axis=1)
train.head(5)

          datetime  season  holiday  workingday  ...  month  day  weekday  hour
0  2011-01-01 0:00       1        0           0  ...      1    1        2     0
1  2011-01-01 1:00       1        0           0  ...      1    1        2     1
2  2011-01-01 2:00       1        0           0  ...      1    1        2     2
3  2011-01-01 3:00       1        0           0  ...      1    1        2     3
4  2011-01-01 4:00       1        0           0  ...      1    1        2     4

[5 rows x 18 columns]

### [1-5] 
월별로 count를 내림차순 정렬해 주세요.

In [460]:
#월별로 count 내림차순 정렬
train.groupby('month')['count'].sum().sort_values(ascending=False)

month
6     220733
7     214617
8     213516
9     212529
10    207434
5     200147
11    176440
4     167402
12    160160
3     133501
2      99113
1      79884
Name: count, dtype: int64

### [1-6] 
1-5를 통해, 6월에 count가 가장 많은 것을 확인할 수 있었습니다! 6월 데이터만 추출하여, June 변수에 저장해주세요.

In [461]:
#6월 데이터만 추출하여 June 변수에 저장
June = train[train['month']==6]

### [1-7]
6월달 중 가장 count가 많은 날짜(day)를 내림차순으로 정렬해주세요.

In [462]:
# 6월달 중 가장 count가 많은 날짜 파악
June_day=June[['day', 'count']]
June_day.sort_values('count', ascending=False)

      day  count
7856    7    869
8024   14    867
8000   13    857
7808    5    850
7784    4    834
...   ...    ...
2236    1      3
2381    7      2
2429    9      2
2549   14      2
2573   15      1

[912 rows x 2 columns]

# Part 2 데이터 전처리

한국환경공단에서 발표한 미세먼지 관련 자료를 분석하려고 데이터를 사용하려고 합니다. <p>
'SeoulHourlyAvgAirPollution.csv' 을 불러와 pollution 으로 저장해주세요.

In [463]:
#colab에 SeoulHourlyAvgAirPollution.csv 파일 업로드
from google.colab import files
import io
SeoulHourlyAvgAirPollution_data=files.upload()
pollution =pd.read_csv(io.BytesIO(SeoulHourlyAvgAirPollution_data["SeoulHourlyAvgAirPollution.csv"]))

Saving SeoulHourlyAvgAirPollution.csv to SeoulHourlyAvgAirPollution (1).csv

### [2-1] Label Encoding
'측정소명' 변수를 레이블 인코딩하고, 레이블 인코딩한 값을 기존 데이터 프레임에 '측정소명_인코딩'라는 열로 추가해보세요.

In [464]:
from sklearn.preprocessing import LabelEncoder

items= pollution['측정소명']
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
pollution['측정소명_인코딩'] = labels

### [2-2] 결측치, 중복값 처리
한국환경공단에서 발표한 미세먼지 관련 자료를 분석하려고 데이터를 사용하려고 합니다.우선, 칼럼별 결측치의 개수를 구해주세요.

In [465]:
# 칼럼별 결측치 개수 확인
pollution.isnull().sum()

측정일시             0
측정소명             0
이산화질소농도(ppm)    38
오존농도(ppm)       42
일산화탄소농도(ppm)    42
아황산가스(ppm)      38
미세먼지(㎍/㎥)       59
초미세먼지(㎍/㎥)      64
측정소명_인코딩         0
dtype: int64

#### a. 결측치 처리하기
결측치를 대체하거나, 제외하려고 합니다. 아래의 조건에 맞게 데이터를 수정해주세요. (inplace=True)

1) '이산화질소농도'는 결측치를 제거 <p>
2) '이산화질소농도'는 데이터에서 제외 <p>
3) '일산화탄소농도'는 바로 위 행의 데이터로 대체 <p>
4) '아황산가스' 는 결측치 값을 0으로 대체 (조건: replace() 메소드 사용) <p>
5) '미세먼지'의 결측치는 열의 평균값으로 대체 <p>
6) '초미세먼지'의 결측치는 최빈값으로 대체

In [466]:
pollution.drop(['이산화질소농도(ppm)'], axis=1)
pollution['일산화탄소농도(ppm)'].fillna(method = 'ffill', limit=1)
pollution['아황산가스(ppm)'] = pollution['아황산가스(ppm)'].replace(to_replace = np.nan, value = 0)
pollution['미세먼지(㎍/㎥)'] = pollution['미세먼지(㎍/㎥)'].replace(to_replace = np.nan, value = pollution['미세먼지(㎍/㎥)'].mean())
pollution['초미세먼지(㎍/㎥)'] = pollution['초미세먼지(㎍/㎥)'].replace(to_replace = np.nan, value = pollution['초미세먼지(㎍/㎥)'].mode()[0])
pollution.dropna(inplace=True)

#### b. 중복값 처리하기
DUPLICATED.csv 를 불러와, duplicates 에 저장해주세요.

duplicates를 분석해보니, 같은 사람에 대해서 중복된 데이터가 존재합니다. <p>
'NAME' 과 'ID' 가 모두 중복이면, 처음 나온 데이터가 올바른 값입니다. <p>
'NAME' 은 중복이지만, 'ID'가 중복이지 않으면, 잘못된 데이터입니다. <p>
잘못된 데이터는 삭제해주시고, 중복값을 적절하게 처리하여 데이터를 수정해주세요.

In [467]:
from google.colab import files
uploaded = files.upload()
duplicates  = pd.read_csv(io.BytesIO(uploaded['DUPLICATED.csv']))

Saving DUPLICATED.csv to DUPLICATED (1).csv

In [468]:
duplicates.drop_duplicates(['NAME','ID' ])
duplicates.drop_duplicates(['NAME' ])

   OBS NAME      ID        DATE  BTW    FFM
0    1    A  A10153  2018-11-30    1  7,000
2    3    B  B15432  2018-11-30    4  9,123
4    5    C  C54652  2018-11-28    5  8,235
6    7    D  D14568  2018-11-28    7  5,234
8    9    E  E13254  2018-11-26    2  8,453

###[2-3] 불균형 데이터 처리
## <서술형 문항>
Pollution 데이터을 분류 하려고 하는데, 불균형 데이터 처리 단계를 거쳐야 합니다.
불균형 데이터가 무엇인지 설명하고, Undersampling 과 Oversampling 이 무엇인지 간단하게 설명해주세요. (간단히만 적어주시면 됩니다!)

-> **데이터란 정상 범주의 관측치 수와 이상 범주의 관측치 수가 현저히 차이나는 데이터를 말합니다.
undersampling이란 많은 레이블의 데이터 세트를 적은 레이블을 가진 데이터 세트 수준으로 감소시키는 기법이다.
oversampling이란 적은 레이블을 가진 데이터 세트를 많은 레이블을 가진 데이터 세트 수준으로 늘리는 기법이다.**

#### under sampling
'train' 데이터프레임을 사용하여, x는 'count', 'registered', y는 'workingday'로 x 와 y 값을 설정하세요. 위 x,y 에 대하여 under sampliing 기법 중 하나를 선택하여 불균형 데이터 처리를 진행하고 어떻게 데이터가 변화하였는데 살펴보세요. 
(hint: shape, value_counts 등을 통해 샘플링 전후 데이터 개수의 변화를 알 수 있습니다.)<p>

In [469]:
from imblearn.under_sampling import *

In [471]:
x = train[['count', 'registered']]
y = train[['workingday']]
print(x.shape)
print(y.shape)

print((y==1).sum())
print((y==0).sum())

(10886, 2)
(10886, 1)
workingday    7412
dtype: int64
workingday    3474
dtype: int64

In [472]:
x_resampled, y_resampled = RandomUnderSampler(random_state =0).fit_resample(x,y)
x_resampled.shape
y_resampled.shape
print((y_resampled==1).sum())
print((y_resampled==0).sum())

workingday    3474
dtype: int64
workingday    3474
dtype: int64

###[2-4] Feature Scaling
날씨와 ('weather' 칼럼) 과 전체 대여된 자전거 수 ('count' 칼럼) 을 비교하기 위하여 Feature Scaling 하고자 합니다. <p>
두 변수 모두 정규화를 적용한 후, 'weather scaled' 및 'count scaled' 으로 저장하여, 각 변수 정규화 저용 전 후 평균과 분산을 비교해주세요.

In [473]:
from sklearn.preprocessing import StandardScaler
scaler2 = StandardScaler()

x = train['count'].values.reshape(-1,1)
scaler2.fit(x)
df_scaled = scaler2.transform(x)
train['count scaled']=pd.Series(df_scaled.reshape(-1))

In [474]:
from sklearn.preprocessing import MinMaxScaler
scaler1 = MinMaxScaler()

df_weather = train['weather'].values.reshape(-1,1)
scaler1.fit(df_weather)
whether_scaled = scaler1.transform(df_weather)
train['weather scaled'] = pd.Series(whether_scaled.reshape(-1))

In [475]:
print('Weather 의 정규화 적용 전 평균과 분산 비교')
print(train[['weather', 'weather scaled']].mean())
print(train[['weather', 'weather scaled']].var())

print('Count 의 정규화 적용 전 평균과 분산 비교')
print(train[['count', 'count scaled']].mean())
print(train[['count', 'count scaled']].var())

Weather 의 정규화 적용 전 평균과 분산 비교
weather           1.418427
weather scaled    0.139476
dtype: float64
weather           0.401751
weather scaled    0.044639
dtype: float64
Count 의 정규화 적용 전 평균과 분산 비교
count           1.915741e+02
count scaled    1.117005e-15
dtype: float64
count           32813.313153
count scaled        1.000092
dtype: float64

#수고하셨습니다! 제출 마감 날짜는 3월 2일 (수요일) 23시 59분입니다!
파일명 주의해주세요~!

제출 링크: https://forms.gle/vz1KxaMqamPLX4oZ8